.inventory {
    overflow: hidden;
    height: calc(100vh - 60px);
    padding: 30px;
    box-sizing: border-box;
}

.inventory-title {
    color: #d4defa;
    position: relative;
    padding-bottom: 15px;
    font-size: 22px;
    margin-bottom: 30px;
    border-bottom: 1px solid rgb(173, 171, 171);
}

.inventory-title > button {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 6px;
    background-color: rgb(49, 142, 242);
    color: rgb(207, 255, 252);
    border: 1px solid rgb(111, 229, 255);
    padding: 6px 10px;
}
.inventory-title > button:hover {
    filter: brightness(0.9);
    cursor: pointer;
}
.inventory-title > button:active {
    filter: brightness(0.8);
    cursor: pointer;
}

.inventory-items {
    display: flex;
    margin: auto;
    gap: 20px;
    flex-wrap: wrap;
}

.item-card {
    width: 200px;
    height: 250px;
    overflow: hidden;
    box-sizing: border-box;
    padding: 20px;
    background-color: rgb(68, 74, 77);
    border-radius: 10px;
    position: relative;
}

.item-card > img {
    width: 160px;
    height: 100px;
    background-size: contain;
}

.item-card > h1 {
    margin: 10px 0;
    color: #d4defa;
    font-size: 18px;
}

.item-card > div {
    color: rgb(255, 255, 255);
    font-family: monospace;
    font-size: 14px;
}

.item-card > button {
    position: absolute;
    right: 20px;
    bottom: 15px;
    font-size: 12px;
    border-radius: 6px;
    background-color: rgb(49, 142, 242);
    color: rgb(207, 255, 252);
    border: 1px solid rgb(111, 229, 255);
    padding: 6px 10px;
}
.item-card > button:hover {
    filter: brightness(0.9);
    cursor: pointer;
}
.item-card> button:active {
    filter: brightness(0.8);
    cursor: pointer;
}